{% extends 'public/clean.html' %}

{% block header %}
{% include 'public/header.html' %}
{% endblock %}
<main class="public">
    {% block content %}

    <main class="my-5 index-page">
        <div class="mt-5"></div>

        <div class="container">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>{{ lang('power supplies for laptops') }}</h2>
                <p>{{ lang('We have almost all power supplies for laptops for the best price and with warranty') }}</p>
                <p>{{ lang('The prices are between 180 and 450 nis') }}</p>
                {% for m in msg %}
                <p>{{m}}</p>
                {% endfor %}

            </div><!-- End Section Title -->

            <div class="row">
                {% for cat in categories %}
                <div class="col-md-4" data-aos="fade-up">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text"><a class="p-5" href="power_supplies/{{cat}}">{{cat}}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% include 'public/contact.html' %}

    </main>

    {% include 'public/footer.html' %}

    {% endblock %}
</main>