{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{lang('customers')}}{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="d-flex flex-row justify-content-between mb-3">
  <span></span>
  <a class="btn btn-success" href="{{ url_for('customer.create') }}">{{lang('New')}}</a>
</div>
<ul class="list-group">
  {% for customer in customers %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="d-flex flex-row">
      <div class="mx-3">{{customer.name}}</div>
      <div class="mx-3">{{customer.phone}}</div>
    </div>
    <div class="d-flex flex-row">
      <a class="btn btn-info mx-3" href="{{ url_for('customer.edit', id=customer.id) }}">{{lang('Edit')}}</a>
      <form class="mx-3" action="{{ url_for('customer.delete', id=customer.id) }}" method="post">
        <button id="delete_message" type="submit" class="btn btn-danger"
          onclick="confirm('Are you sure?');">{{lang('Delete')}}</button>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}