<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between header-items">
  
      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='img/public/logo.png') }}" alt="">
        <!-- <h1 class="sitename">MC88</h1> -->
      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/#hero" class="active">#</a></li>
          <li><a href="/#about">{{ lang('about') }}</a></li>
          <li><a href="/#why-us">{{ lang('why us') }}</a></li>
          <li><a href="/#services">{{ lang('the lab service in tel aviv') }}</a></li>
          <li><a href="/products/power_supplies">{{ lang('power supplies for laptops') }}</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                    class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
          <li><a href="/#contact">{{ lang('contact') }}</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
  
    </div>
  </header>