{% extends 'public/clean.html' %}

{% block header %}
{% include 'public/header.html' %}
{% endblock %}
<main class="public">
    {% block content %}

    <main class="index-page">

        <!-- Hero Section -->
        <section id="hero" class="hero section">

            <img src="{{ url_for('static', filename='img/public/hero-bg2.jpg') }}" alt="" data-aos="fade-in" class="">

            <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="row justify-content-center">
                    <div class="col-lg-8 hero-blur">
                        <h2>{{ lang('the lab service in tel aviv') }}</h2>
                        <p>{{ lang('repairing laptops and pcs') }}</p>
                        <a href="#about" class="btn-get-started">{{ lang('about') }}</a>
                    </div>
                </div>
            </div>

        </section><!-- /Hero Section -->

        <!-- About Section -->
        <section id="about" class="about section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>{{ lang('about') }}</h2>
                <p>{{ lang('we are repairing all kind laptops and pcs, from all comapnies. we love to repair apple laptops and gaming computers') }}</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <img src="{{ url_for('static', filename='img/public/about.jpg') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 content">
                        <h3>{{ lang('we happy when our customers are happy') }}</h3>
                        <p class="fst-italic">
                            {{ lang('our customers are the most important thing for us, we are doing the best to make them happy') }}
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> <span>{{ lang('quick service') }}</span>
                            </li>
                            <li><i class="bi bi-check2-all"></i> <span>{{ lang('fare prices') }}</span>
                            </li>
                            <li><i class="bi bi-check2-all"></i> <span>{{ lang('clients satisfaction') }}</span></li>
                        </ul>
                        <p>{{ lang('we will fix your computer on time, for best price and with the best service. we fixing laptops and pcs from all companies.') }}</p>
                    </div>
                </div>

            </div>

        </section><!-- /About Section -->

        <!-- Why Us Section -->
        <section id="why-us" class="why-us section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>{{ lang('why us') }}</h2>
                <p>{{ lang('we have more than 10 years of experience in repairing laptops and pcs') }}</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="img">
                                <img src="{{ url_for('static', filename='img/public/why-us-1.jpg') }}" alt="" class="img-fluid">
                                <div class="icon"><i class="bi bi-hdd-stack"></i></div>
                            </div>
                            <h2 class="title"><a href="#" class="stretched-link">{{ lang('our mission') }}</a></h2>
                            <p>{{ lang('we have a mission to make our customers happy') }}</p>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <div class="img">
                                <img src="{{ url_for('static', filename='img/public/why-us-2.jpg') }}" alt="" class="img-fluid">
                                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                            </div>
                            <h2 class="title"><a href="#" class="stretched-link">{{ lang('our plan') }}</a></h2>
                            <p>{{ lang('give the best service for the best price') }}</p>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="card">
                            <div class="img">
                                <img src="{{ url_for('static', filename='img/public/why-us-3.jpg') }}" alt="" class="img-fluid">
                                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                            </div>
                            <h2 class="title"><a href="#" class="stretched-link">{{ lang('our vision') }}</a></h2>
                            <p>{{ lang('if we not fix your computer, you will not pay') }}</p>
                        </div>
                    </div><!-- End Card Item -->

                </div>

            </div>

        </section><!-- /Why Us Section -->

        <!-- Services Section -->
        <section id="services" class="services section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>{{ lang('Services') }}</h2>
                <p>{{ lang('this is our services') }}</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <i class="bi bi-activity"></i>
                            </div>
                            <a href="#services" class="stretched-link">
                                <h3>{{ lang('slowness diagnostic') }}</h3>
                            </a>
                            <p>{{ lang('diagnose overheating and slowness') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-broadcast"></i>
                            </div>
                            <a href="#services" class="stretched-link">
                                <h3>{{ lang('internet problems') }}</h3>
                            </a>
                            <p>{{ lang('issues with internet connection by wifi or cable') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-easel"></i>
                            </div>
                            <a href="" class="stretched-link">
                                <h3>{{ lang('the laptop screen replacement') }}</h3>
                            </a>
                            <p>{{ lang('we can replace your brocken laptop screen for fare price') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-bounding-box-circles"></i>
                            </div>
                            <a href="#services" class="stretched-link">
                                <h3>{{ lang('we build custom gamin computers') }}</h3>
                            </a>
                            <p>{{ lang('give us your budget and we will build the best gaming computer for you') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-calendar4-week"></i>
                            </div>
                            <a href="#services" class="stretched-link">
                                <h3>{{ lang('we have wide range of working hours') }}</h3>
                            </a>
                            <p>{{ lang('we opened from sunday to thursday, from 10:00 to 20:00. friday, from 10:00 to 15:00') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-chat-square-text"></i>
                            </div>
                            <a href="#services" class="stretched-link">
                                <h3>{{ lang('ask us anything about computers by phone or whatsapp') }}</h3>
                            </a>
                            <p>{{ lang('we answer by phone and whatsapp all working hours') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-server"></i>
                            </div>
                            <a href="#services" class="stretched-link">
                                <h3>{{ lang('we have most of power supplies for laptops and pcs') }}</h3>
                            </a>
                            <p>{{ lang('bring us your computer and we will find the right power supply for you') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-shield-check"></i>
                            </div>
                            <a href="#services" class="stretched-link">
                                <h3>{{ lang('be protected from fishing and hacking') }}</h3>
                            </a>
                            <p>{{ lang('we can clean your computer from viruses and install antivirus') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-sort-numeric-down-alt"></i>
                            </div>
                            <a href="#services" class="stretched-link">
                                <h3>{{ lang('forgot your password? we can help you') }}</h3>
                            </a>
                            <p>{{ lang('we can reset your password and recover your data') }}</p>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services Section -->

        {% include 'public/contact.html' %}

    </main>

    {% include 'public/footer.html' %}

    {% endblock %}
</main>