venv/
*.pyc
__pycache__/
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.vscode/
ctime/
games/
sp/
test_sp/
wt/
flask_lab/logs/*.log*
flask_lab/.env
.vscode/settings.json
instance/db.sqlite
instance/config.py
.vscode/settings.json
virtualenv.pyz
wp-content/
flask_lab/static/img/public/products/power_supplies
flask_lab/whitelist_ips.txt
flask_lab/blocked_ips.txt
