flake8
Flask
werkzeug
itsdangerous
MarkupSafe
jinja2
Babel
flask-babelex
pytest
pytest-cov
coveralls
pylint
sqlalchemy
Flask-SQLAlchemy
sqlalchemy-citext
sqlalchemy-utils
arrow
colour
email-validator
wtforms
