Flask
werkzeug
jinja2
Babel
flask-babelex
sqlalchemy
Flask-SQLAlchemy
sqlalchemy-citext
sqlalchemy-utils
wtforms
requests
# Editable install with no version control (lab==1.0.0)
-e .
# only on ubuntu for production, uncomment line above
# pyuwsgi==2.0.22