{% extends 'base.html' %}

{% block auto_refresh %}
{% if g.user['role'] == 2 %}
http-equiv="refresh" content="{{ refresh+10 }}"
{% else %}
http-equiv="refresh" content="{{ refresh }}"
{% endif %}
{% endblock %}

{% block header %}
<h1>{% block title %}{{lang('Tickets')}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<a class="btn btn-outline-success my-3" href="{{ url_for('lab.create') }}">{{lang('New Ticket')}}</a>
<ul class="list-group">
  {% for ticket in tickets %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="d-flex flex-row">
      <div class="px-1">{{ticket['created']}}</div>
    </div>
    <div class="d-flex flex-row">
      <div class="px-1">{{ticket['name']}}</div>
      <div class="px-1">{{ticket['client_id']}}</div>
    </div>
    <div class="d-flex flex-row">
      <div class="px-1">{{g.pc_kind[ticket['pc_kind']]}} {{g.pc_manufacturers[ticket['pc_manufacturer']]}} {{g.colors[ticket['pc_color']]}}
        {{ticket['pc_screen_inch']}}</div>
      <div class="px-1">{{lang('Power Supply')}}: {{g.with_power_supply[ticket['with_power_supply']]}}</div>
    </div>
    <div class="px- 1">{{lang('Price')}}:{{ticket['price']}}</div>
    <div class="d-flex flex-row">
      {% if g.user['id'] == ticket['author_id'] or g.user['role'] == 2 %}
      <a class="btn btn-info mx-3" href="{{ url_for('lab.update', id=ticket['id']) }}">{{lang('Edit')}}</a>
      <form class="mx-3" action="{{ url_for('lab.done', id=ticket['id']) }}" method="post">
        <button id="done" type="submit" class="btn btn-success"
          onclick="confirm('Are you sure?');">{{lang('Done')}}</button>
      </form>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}